<ion-content>
    <div id="pageHeader">
        <ion-fab vertical="top" horizontal="start" slot="fixed">
            <ion-fab-button [routerLink]="['/conta']" routerLinkActive="router-link-active">
              <ion-icon name="arrow-back"></ion-icon> 
            </ion-fab-button>
          </ion-fab>
    </div>
    <form (ngSubmit)="salvarConta()" [formGroup]="conta">
        <ion-label position="stacked" class="label">Descrição da conta</ion-label>    

        <div class="input">
            <ion-input type="text" placeholder="Informe a descrição da conta" id="descricao" formControlName="descricao"></ion-input>
        </div>
        <ion-label position="stacked" class="label">Tipo da conta</ion-label>    

        <div class="input">
            <ion-select multiple="false" placeholder="Selecione um tipo de conta" id="tipo" formControlName="tipo">
                <ion-select-option *ngFor="let tipo of tiposContas" value={{tipo.nomeTipo}}>{{tipo.nomeTipo}}</ion-select-option>
            </ion-select>
        </div>
        <ion-label position="stacked" class="label">Valor da conta</ion-label>    

        <div class="input">
            <ion-input type="number" placeholder="Informe o valor da conta" id="valor" min="1" formControlName="valor"></ion-input>
        </div>
        <ion-label position="stacked" class="label">Data de vencimento</ion-label>    

        <div class="input">
            <ion-datetime display-format="DD/MM/YY" placeholder="Selecione a data de vencimento" id="dataVencimento" formControlName="dataVencimento"></ion-datetime>
        </div>
        <ion-label position="stacked" class="label">Situação da conta</ion-label>    

        <div class="input">
            <ion-select multiple="false" placeholder="Selecione a situação atual da conta" id="situacao" formControlName="situacao">
                <ion-select-option value="0">Em Aberto</ion-select-option>
                <ion-select-option value="1">Quitada</ion-select-option>
            </ion-select>
        </div>
        <ion-button expand="block" type="submit" id="button" [disabled]="!conta.valid">
            Salvar
        </ion-button>
    </form>
</ion-content>