<ion-content>

    
    <form [formGroup]="cadastro" (ngSubmit)="cadastrarClick()">
        <p id="cadastroText">Cadastrar</p>
            <ion-label position="stacked" class="label">Nome de usuário</ion-label>
            <div id="inputName" class="input">
                <ion-input type="text" placeholder="Insira seu nome de usuárioS" id="userName" formControlName="userName" #userName></ion-input>
            
            
            <div *ngIf="cadastro.get('userName').invalid && (cadastro.get('userName').dirty || cadastro.get('userName').touched)">
                <small class="form-text text-danger" *ngIf="cadastro.get('userName').errors.required || cadastro.get('userName').errors.minlength">
                    Insira um nome de usuário com no mínimo 3 caracteres
                </small>
            </div>
            <div *ngIf="verificarUsuario(userName.value)">
                <small class="form-text text-danger">
          Usuario já existe
        </small>
            </div>
        </div>
        <ion-label position="stacked" class="label">E-Mail</ion-label>
        <div id="inputEmail" class="input">
            <ion-input type="email" placeholder="Insira seu Email" id="email" formControlName="email" #email></ion-input>
            <div *ngIf="cadastro.get('email').invalid && (cadastro.get('email').dirty || cadastro.get('email').touched)">
                <small class="form-text text-danger" *ngIf="cadastro.get('email').errors.required || cadastro.get('email').errors.email">
          Email inválido
        </small>
            </div>
            <div *ngIf="verificarEmail(email.value)">
                <small class="form-text text-danger">
          Email já cadastrado
        </small>
            </div>
        </div>

        <ion-label position="stacked" class="label">Senha</ion-label>
        <div id="inputPassword" class="input">
            <ion-input #inputPassword type="password" placeholder="Insira sua senha" id="password" formControlName="password">
            </ion-input>
            <div *ngIf="cadastro.get('password').invalid && (cadastro.get('password').dirty || cadastro.get('password').touched)">
                <small class="form-text text-danger" *ngIf="cadastro.get('password').errors.required || cadastro.get('password').errors.minlength">
                 A senha deve conter no mínimo 8 caracteres.
                </small>
            </div>
        </div>
        <ion-button  expand="block" type="submit" id="button" [disabled]="!cadastro.valid || verificarUsuario(userName.value) || verificarEmail(email.value)">
           Cadastrar
        </ion-button>
        <p class="ion-text-center" [routerLink]="'/login'" routerLinkActive="router-link-active">Já está cadastrado? <a>Login</a></p>
    </form>
</ion-content>