#pageHeader {
  margin-bottom: 10%;
}

#contaText {



  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  color: #000000;
}
#contas {
  text-align:center;
  margin-top:20%;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #000000;
}
#novaConta {


  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #497ee0;
  cursor: pointer;
}

#circle {
  stroke: #d25050;
  stroke-width: 3px;
  stroke-dasharray: 725;
  stroke-dashoffset: 725;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

.conta {
  position: relative;
  width: 95%;
  height: max-content;
  left: 16px;
  top: 180px;

  cursor: pointer;
}


.alt {
  background: #7a2525;
}



