<ion-content>
      <ion-menu side="start" content-id="main-content">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <p class="opcoes" [routerLink]="['/conta']" routerLinkActive="router-link-active">Minhas contas</p>
            </ion-item>
            <ion-item>
              <ion-icon name="paper-plane" slot="start"></ion-icon>
              <p class="opcoes" [routerLink]="['/tipoConta']" routerLinkActive="router-link-active">Tipos Contas</p>
            </ion-item>
            <ion-item>
              <ion-icon name="heart" slot="start"></ion-icon>
            <p class="opcoes" [routerLink]="['/usuario']" routerLinkActive="router-link-active">Perfil</p>
            </ion-item>
            <ion-item>
              <ion-icon name="archive" slot="start"></ion-icon>
              <p class="opcoes" [routerLink]="['/login']" routerLinkActive="router-link-active">
                Log out
             </p>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
   


  <div id="pageHeader">
    <p
      id="novaConta"
      [routerLink]="['/conta/register']"
      routerLinkActive="router-link-active"
    >
      Nova
    </p>
  </div>


  <!-- LISTAGEM DAS CONTAS -->
  <div
    id="dataContas"
    *ngFor="let conta of contasUsuario; let even = even; let odd = odd"
  >
    <div class="conta">
      <div class="icon alt" *ngIf="even"></div>
      <div class="icon" *ngIf="odd"></div>
      <div
        class="item"
        [routerLink]="['/conta/register/' + conta.id]"
        routerLinkActive="router-link-active"
      >
        <p>{{conta.descricao + " - " + obterData(conta.dataVencimento)}}</p>
      </div>
      <img
        src="../../../assets/trash.png"
        (click)="excluir()"
        alt="lixeira"
        width="25"
        id="lixeira"
      />
      <div class="divider"></div>
    </div>
  </div>
</ion-content>
