#pageHeader {
 
   margin-bottom: 10%;
}

#menuText {
    position: absolute;
    width: 113px;
    height: 36px;
    left: calc(50% - 113px / 2 + 2px);
    top: 0px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.opcoes {
    font-family: Arial;
}

#tipoContas {
    text-align:center;
    margin-top:20%;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #000000;
}

.alt {
    background: #7a2525;
}



