#bgUsuario {
    /* Rectangle 239 */
    position: absolute;
    height: 245px;
    left: -1px;
    right: 0px;
    top: 0px;
    z-index: -1;
    background: #ffffff;
}

#imgUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 40%;
    position: relative;
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;

  }

#dadosUsuario {
    position: relative;
    width: 75%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
}

#nomeUsuario {
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

#emailUsuario {
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}